root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 120

[*.md]
trim_trailing_whitespace = false
max_line_length = 120

[*.{txt,gitignore,gitattributes}]
trim_trailing_whitespace = false

[*.{yml,yaml,json,js,ts,jsx,tsx,css,scss,html,md,py,sh,zsh,env,xml,ini,conf,properties,lua}]
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
trim_trailing_whitespace = false
