*.7z		binary
*.adoc		text
*.asc		binary
*.bash		text eol=lf
*.bat		text eol=crlf
*.bibtex	text diff=bibtex
*.cmd		text eol=crlf
*.csv		text
*.db		binary
*.DOC		diff=astextplain
*.doc		diff=astextplain
*.DOCX		diff=astextplain
*.docx		diff=astextplain
*.DOT		diff=astextplain
*.dot		diff=astextplain
*.eps		binary
*.fish		text eol=lf
*.gif		binary
*.gpg		binary
*.gpg~		binary
*.gz		binary
*.ico		binary
*.jpeg		binary
*.jpg		binary
*.json		text
*.kbx		binary
*.kbx~		binary
*.key		binary
*.md		text diff=markdown
*.mustache	text
*.patch		-text
*.PDF		diff=astextplain
*.pdf		diff=astextplain
*.png		binary
*.ps1		text eol=crlf
*.RTF		diff=astextplain
*.rtf		diff=astextplain
*.sh		text eol=lf
*.sql		text
*.svg		text
*.tab		text
*.tar		binary
*.tex		text diff=tex
*.textile	text
*.tgz		binary
*.tif		binary
*.tiff		binary
*.toml		text
*.tsv		text
*.txt		text
*.xml		text
*.yaml		text
*.yml		text
*.zip		binary
