/.netrwhist
/activity
/backup
/bundle/*
/cache
/colors/vo_dark.vim
/colors/vo_light.vim
/colorv_fav
/cscope
/doc/tags
/doc/vo_readme.txt.gz
/ftdetect/vo_base.vim
/ftplugin/vo_base.vim
/ftplugin/vo_checkbox.vim
/ftplugin/vo_hoist.vim
/history_v2.txt
/info
/mru
/syntax/vo_base.vim
/tags
/tmp
/undo
/view
/viminfo

!/bundle/DeIn
